/url/cache
/temp
/.emacs.desktop
/auto-save-list
/.session
/custom.el
/git-account.el
*.elc
CVS
.svn
*~
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
/elpa
/build
site-lisp/package/
/swank
/.mc-lists.el
/var

*.bak
*.bakk
/semanticdb
/octave-core
/backup
/eshell
/el-get
/.sqli_history
/frame-restore-parameters
/.achievements
/.bookmarks.el
secret.el
python.info
/built-in-snippets
